apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "node-hostname-chart.fullname" . }}
  labels:
    {{- include "node-hostname-chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "node-hostname-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "node-hostname-chart.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- else }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  {{- include "node-hostname-chart.selectorLabels" . | nindent 18 }}
              topologyKey: kubernetes.io/hostname
      {{- end }}
      containers:
      - name: node-hostname
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- with .Values.containerSecurityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        ports:
        - containerPort: {{ .Values.service.port }}
        {{- with .Values.livenessProbe }}
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.livenessProbe.httpGet.port | default .Values.app.port | default 3000 }}
        {{- end }}
        {{- with .Values.readinessProbe }}
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.readinessProbe.httpGet.port | default .Values.app.port | default 3000 }}
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
