# Resource limits (override base config)
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

# SecurityContext & Health Probes
podSecurityContext:
  fsGroup: 2000

containerSecurityContext:
  runAsUser: 1001
  allowPrivilegeEscalation: true # Advised to set true: Check if true possible for that app
  readOnlyRootFilesystem: true # Advised to set true: Check if true possible for that app
  capabilities:
    drop:
      - ALL

livenessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 5
  periodSeconds: 5

# Pod Anti-Affinity for High Availability (distribute pods with same name among nodes)
affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: node-hostname-chart
          topologyKey: kubernetes.io/hostname

# Node placement and tolerations (for advanced scheduling)
nodeSelector: {}

tolerations: []
